/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @variants hover, focus {
    .rotate-0 {
        transform: rotate(0deg);
    }
}

@screen sm {
    .bg-gradient-brand {
        background-image: linear-gradient(blue, green);
    }
} */

.text-body {
    font-size: 2rem;
}

input::placeholder {
    color: gray;
}