<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Muhammad Bin Ahmad">
    <link rel="stylesheet" href="./styleSheets/styles.css">
    <title>
        <%= page.title %> | <%= app.title %>
    </title>
</head>

<body>
    <header>
        <nav class="menu">
            <div class="menu-item"><a href="/">Home</a></div>
            <div class="menu-item"><a href="/todos">Todos</a></div>
            <div class="menu-item"><a href="/users">Users</a></div>
            <div class="menu-item"><a href="/chats">Chats</a></div>
        </nav>
    </header>